/* I pick the colors for this assignment from the color scheme designer website */

body{
	background-color:#FE3f44;
	color: white;
	padding:30px;
	}
	
h1,h2,h3{
	background-color: rgba(34,204,37, 0.5);
	background-color: hsla(0,50%,25%,0.45);
	color:white;
	padding:inherit;
		}
p{
	padding:10px;
	}
em, b{
	color: #665544;
	}
ul{
	color: #000;
	opacity: 0.90;
	}